
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(morango\ fundo.jpg);
    background-size: cover;
   } 
.container{
    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
nav.logo{
    height: 50px;
    align-items:left;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
 padding: 10px 15px; 
 text-decoration: none;
 font-size: 20px;
 color: white;
 border-radius: 50px;
 
}
nav ul li a:hover{

    background-color:red

}
h1{
    color:rgb(221, 140, 35);

}
p{
    color:white;
    text-align: justify;
}
.conteiner-card{
    display: flex;
    height: 400px;

}
.historia{
    max-width: 960px;
    margin: 0 auto;
    font-size: 20px;
}
.conteiner{
    margin: 0 50px;
}